@{
    ViewBag.Title = "Search";
}

<div class="col-xs-6 col-md-6 col-lg-6 container">
    <textarea id="caps" style="height:100%;width:100%;max-width:inherit"></textarea>
</div>
<div class="col-xs-6 col-md-6 col-lg-6 container">
    <textarea id="result" style="height:100%;width:100%;max-width:inherit" readonly>
    </textarea>
</div>

@section scripts{
    <script>
        var SearchTextList = [];
        var SearchTextResult = [];
        var isUpdating = false;

        $('#caps').on('change keyup paste', function () {
            var input = $(this).val();
            var inputList = input
                            .substring(Math.max(0, input.indexOf("#")), input.length - Math.max(0, input.indexOf("#")) + 2)
                            .replace(/\n/g, '')
                            .replace(/\ /g, '')
                            .split('#');
            SearchTextList = inputList;
            if (!isUpdating) {
                GetIgTagCounts();
            }
        });

        AddCommas = function(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        IsHashTagValid = function (key) {
            return (!!key.length || key[0] !== '#')
        };

        GetIgTagCounts = function () {
            isUpdating = true;
            SearchTextResult = [];
            for (var k in SearchTextList) {
                var key = SearchTextList[k];
                if (!!key && IsHashTagValid(key)) {
                    $.ajax({
                        type: "GET",
                        dataType: "jsonp",
                        cache: false,
                        url: "https://api.instagram.com/v1/tags/{tag-name}?access_token={access-token}"
                                .replace("{tag-name}", key)
                                .replace("{access-token}", '@Model.Code'),
                        async: false,
                        success: function (data) {
                            if (data.meta.code === 200) {
                                SearchTextResult.push((data.data.media_count));
                                Update();
                            }
                            else {
                                SearchTextResult[k] = '';
                            }
                        },
                        error: function (data) {
                            SearchTextResult[k] = '';
                        }
                    })
                }
                else {
                    SearchTextResult[k] = '';
                }
            }
            isUpdating = false;
        };

        Update = function () {
            var printresult = []
            for (var k in SearchTextResult) {
                if (!!SearchTextList[k] && !!SearchTextResult[k]) {
                    printresult.push(SearchTextList[k] + ' : ' + AddCommas(SearchTextResult[k]) + " posts");
                }
            }

            $('#result').val(printresult.join('\n'));
        }

    </script>
}

